gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
# Android/IntelliJ
*.iml
.idea/
android/.gradle/
android/local.properties
# iOS/Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/Pods/
# Others
*.apk
*.ipa
*.DS_Store
